body {
  margin: 0;
}
#line{
  z-index: 20;
  width: 100%;
  max-width: 1000px;
  border-bottom: 10px solid #FD5638;
  bottom: 0;
  position: relative;
}
#anchor{
  position: relative;
  z-index: 30;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  position: absolute;
  background-color: black;
}
.chat{
  width: 100%;
  position: absolute;
  top:60%;
}
.chat-box{
  position:'absolute';
  overflow-y: auto;
  width: 100%;
  height:25vh;
}
.chat-inp{
  bottom:10px;
}
.UsersInRoom{
  position:fixed;
  z-index:200;
}
@media only screen and (min-width: 600px) {
  .chat-inp{
    bottom: 10%;
  }
  .chat-box{
    height: 50%;
  }
}