body {
  margin: 0;
}
#line{
  z-index: 20;
  width: 100%;
  top:5%;
  border-bottom: 10px solid #FD5638;
  position: relative;
}
#anchor{
  z-index: 10;
  width: 10px;
  top:10px;
  height: 19px;
  border: 1px solid black;
  position: relative;
  background-color: black;
}
.chat{
  width: 100%;
  position: absolute;
  top:60%;
}
.chat-box{
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 30vh;
}